.chat {
    &-body {
        display: flex;
        justify-content: center;
        background-image: var(--gradient-2);
        background-size: 100vw 100vh;
        background-attachment: fixed;
    }
    margin: 10rem;
}